{{ define "main" }}
  <div class="content_band alt" id="title_band">
    <div id="title_logo">
        <img src="https://www.redhat.com/cms/managed-files/AAP2_hero_3As-from-right_light_1440x400.svg?itok=HNrcO57l">
    </div>
    <div class="content_area" id="title_content">
        <div class="" id="title_content_left">
            <h4 class="section_title"> Ansible Automation Platform </h4>
            <h1 class="page_title" id="page_title"> Ansible Content Lab for Cloud Automation Terms </h1>
            <div id="title_description"> The Ansible Content Lab for Cloud Automation is a program that follows open source principals. There are a few terms that you must agree to so that the program and ideas submitted to the program can be successful. </div>
        </div>
    </div>
  </div>
  {{ partial "main.html" . }}
{{ end }}
