<div class="content_band alt" id="title_band">
    <div id="title_logo">
        <img src="https://www.redhat.com/cms/managed-files/AAP2_hero_3As-from-right_light_1440x400.svg?itok=HNrcO57l">
    </div>
    <div class="content_area" id="title_content">
        <div class="" id="title_content_left">
            <h4 class="section_title"> 
                {{ if .Params.subtitle }}
                    {{ .Params.subtitle }}
                {{ else }}
                    Ansible Automation Platform 
                {{ end }}
            </h4>
            <h1 class="page_title" id="page_title"> {{ .Title }} </h1>
            <div id="title_description"> {{ .Summary }} </div>
            {{ if (.Params.button) }}
                <a href="https://forms.gle/xpto923WVNELTmhB8" class="red_button" target="_blank"> Submit Idea </a>
            {{ end }}
        </div>
    </div>
</div>