<div class="content_band alt" id="title_band">
    <div id="title_logo">
        <img src="https://www.redhat.com/cms/managed-files/AAP2_hero_3As-from-right_light_1440x400.svg?itok=HNrcO57l">
    </div>
    <div class="content_area" id="title_content">
        <div class="" id="title_content_left">
            <h4 class="section_title"> Ansible Automation Platform </h4>
            <h1 class="page_title" id="page_title"> Ansible Content Lab for Cloud Automation </h1>
            <div id="title_description"> The Ansible Content Lab for Cloud Automation is an initiative to develop content for cloud automation use cases that have significant impact and value for our users. The content will potentially mature into formalized content. This initiative fits between community content and validated content. We are actively looking for use case submissions to be incubated into validated content. </div>
            <a href="https://forms.gle/xpto923WVNELTmhB8" class="red_button" target="_blank"> Submit Idea </a>
        </div>
    </div>
</div>