<div class="content_band">
    <div class="content_area" id="participant_cards">
        <h2 class="center max_width">Use Cases In Incubation</h2>
        <div class="card_wrapper">
            <div class="card">
                <h3> AWS Deployment Roles </h3>
                <p> The Ansible team is developing turn-key content for AWS such as network peering examples with DMZ
                    and private networks. </p>
            </div>
            <div class="card">
                <h3> Azure Deployment Roles </h3>
                <p> The Ansible team is developing turn-key content for Azure such as transit networking on Ansible on
                    Cloud configuration. </p>
            </div>
            <div class="card">
                <h3> Ansible Configuration as Code </h3>
                <p> The Ansible team is developing examples for configuration Ansible Automation Controller as code to
                    make the setup of AAP quicker, to have backups of configuration, and for quick migration between AAP
                    deployments. </p>
            </div>
        </div>
        <div class="center">
            <a class="blue_link" id="learn_more_link" href="https://github.com/ansible-content-lab">View our projects on
                GitHub</a>
        </div>
    </div>
</div>