<div class="content_band alt">
    <div class="content_area" id="value_cards">
        <h2 class="center max_width">Why Participate?</h2>
        <div class="card_wrapper">
            <div class="card">
                <h3>Deliver Value to Cloud Automation</h3>
                <p> Help develop bespoke cloud automation content that delivers meaningful value for cloud automation
                    use cases. </p>
            </div>
            <div class="card">
                <h3>Earn Cloud Automation Merchandise</h3>
                <p> Participants will be eligible to receive Ansible cloud automation merchandise if their use cases are
                    accepted to the lab. </p>
            </div>
            <div class="card">
                <h3>Create Solutions to Your Problems</h3>
                <p> Help automate your cloud use case to solve the problem others are likely encountering. </p>
            </div>
        </div>
    </div>
</div>